<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.musicin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MusicIn"
        >
        android:theme="@style/Theme.MusicIn">
        <activity
            android:name=".RequestEventActivity"
            android:exported="true" />
        <activity
            android:name=".MusicianProfileActivity"
            android:exported="true" />
        <activity
            android:name=".BandRequestActivity"
            android:exported="false" />
        <activity
            android:name=".AddFormBandRequestActivity"
            android:exported="true"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".ProfileSettingsActivity"
            android:exported="false" />
        <activity
            android:name=".MusicianHubActivity"
            android:exported="true" />
        <activity
            android:name=".EnterpriseSignInActivity"
            android:exported="false" />
        <activity
            android:name=".EmailPwdSignInActivity"
            android:exported="false" />
        <activity
            android:name=".MusicianSignInActivity"
            android:exported="true" />
        <activity
            android:name=".SelectIndEntActivity"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>